<template>
  <div>
    <b-container>
      <b-row>
        <b-col cols="4">
           <b-form-group 
              id="region"
              label="Região:"
              label-for="region">
            <b-form-select 
              id="region"
              :options="regions"
              required
              v-model="region">
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="4">
          <b-form-group 
              id="state"
              label="Estado:"
              label-for="state">
            <b-form-select 
              id="state"
              :options="statesFiltered"
              required
              v-model="state">
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="4">
          <b-form-group 
              id="searchText"
              label="Busca:"
              label-for="searchText">
            <b-input v-model="searchText" id="searchText" placeholder="Busca" />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="4">
          <b-button @click="searchMunicipio()" variant="primary">Pesquisar</b-button>
        </b-col>
      </b-row>
      <br />
      <b-row>
        <b-col cols="12">
          <b-list-group>
            <b-list-group-item v-for="result in resultSearch">
              <b-link :href="result.linkIBGE">
                {{ result.nome + ' - Código: ' + result.codigoIBGE }}
              </b-link>              
            </b-list-group-item>
          </b-list-group>
          <!-- <b-table v-show={resultSearch} striped hover :items="resultSearch"></b-table> -->
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  /* eslint-disable */
  const axios = require('axios');

  export default {
    name: 'Body',
    data() {
      return {
        region: '',
        state: '',
        searchText: '',
        regions: [],
        states: [],
        resultSearch : []
      }
    },
    methods: {
      searchMunicipio() {
        var self = this
        var urlAPI = `http://127.0.0.1:3333/municipios?search=${self.searchText}&`
        if(this.state == ''){
          urlAPI += `region=${this.region}`
        }else{
          urlAPI += `uf=${this.state}`
        }
        axios.get(urlAPI)
        .then(function (response) {
          console.dir(response.data)
          self.resultSearch = response.data.map(({id,codigoIBGE,nome,siglaEstados}) => {
            return { nome, codigoIBGE, linkIBGE: `https://sidra.ibge.gov.br/territorio#/N6/${codigoIBGE}` }
          })
          console.dir(self.resultSearch)
        })
        .catch(function (error) {
          console.log(error);
        })
      }
    },
    computed: {
      statesFiltered() {
        return this.states.filter(({id,nome,idRegiaos}) => {
          if(idRegiaos == this.region){
            return true
          }          
          return false
        })
        .map(({sigla,nome,idRegiaos}) => {
          return { text: nome, value: sigla, idRegiaos }
        })
      }
    },
    watch: {
      region(newValue, oldValue) {
        var self = this
        axios.get('http://127.0.0.1:3333/regioes-politicas')
        .then(function (response) {
          self.regions = response.data.map(({id,nome}) => {
            return { text: nome, value: id }
          })
        })
        .catch(function (error) {
          console.log(error);
        })
      }
    },
    mounted(){
      var self = this

      axios.get('http://127.0.0.1:3333/regioes-politicas')
      .then(function (response) {
        self.regions = response.data.map(({id,nome}) => {
          return { text: nome, value: id }
        })
      })
      .catch(function (error) {
        console.log(error);
      })

      axios.get('http://127.0.0.1:3333/estados')
      .then(function (response) {
        self.states = response.data
        console.dir(self.states)
      })
      .catch(function (error) {
        console.log(error);
      })
    }
  }
</script>

<style scoped>

</style>