<template>
  <div>
    <b-navbar toggleable="md" type="dark" variant="light">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand align-self="center" href="#">
        <img src="../assets/logo_mobile_saude.png" alt="BV">
      </b-navbar-brand>     
      <b-collapse is-nav id="nav_collapse">
        
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="https://www.linkedin.com/in/reynaldo-marinho/" class="textAuthor">Reynaldo Marinho</b-nav-item>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
    <br /><br />
  </div>
</template>

<script>
export default {
  name: "NavBar",
};
</script>

<style scoped>
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link{
  color: #0089f1
}
</style>