<template>
  <div id="app">
    <NavBar />
    <Body />
  </div>
</template>

<script>
import NavBar from './components/NavBar'
import Body from './components/Body'

export default {
  name: 'app',
  components: {
    NavBar,
    Body
  }
}
</script>

<style>
</style>
